[user]
    email = user8324@posteo.net
    name = Fabian Meyer
[push]
    default = current
[core]
    editor = vim
[alias]
    lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[merge]
    tool = meld
