[Desktop Entry]
Type=Application
Version=1.1.1
Name=Aseprite
Comment=Animated sprite editor & pixel art tool
Icon=##HOME_DIR##/aseprite/data/icons/ase32.png
Exec=##HOME_DIR##/aseprite/aseprite
Terminal=false
Categories=Graphics
