#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Eclipse 
Type=Application
Exec=##PROGRAMS_DIR##/Programs/eclipse/eclipse
Terminal=false
Icon=##PROGRAMS_DIR##/Programs/eclipse/icon.xpm
Comment=Integrated Development Environment
NoDisplay=false
Categories=Development;IDE
Name[en]=Eclipse
