[Desktop Entry]
Name=Minecraft
Comment=Minecraft
Exec=java -jar ##PROGRAMS_DIR##/Programs/minecraft/minecraft.jar
Icon=##PROGRAMS_DIR##/Programs/minecraft/minecraft.png
Terminal=false
Type=Application
Categories=Game;
