[Desktop Entry]
Name=Minecraft
Comment=Minecraft
Exec=java -jar ##HOME_DIR##/Programs/minecraft/minecraft.jar
Icon=##HOME_DIR##/Programs/minecraft/minecraft.png
Terminal=false
Type=Application
Categories=Game;
