[Desktop Entry]
Name=OpenRCT2
Comment=OpenRCT2
Exec=/home/fabian/Programs/openrct2/OpenRCT2
Icon=/home/fabian/Programs/openrct2/openrct2.png
Terminal=false
Type=Application
Categories=Game;
