[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=UMLet
GenericName=UMLet
Comment=Free UML Tool for Fast UML Diagrams
Exec=java -jar ##PROGRAMS_DIR##/Umlet/umlet.jar
Icon=##PROGRAMS_DIR##/Umlet/img/umlet_logo.png
Terminal=false
Categories=Development;
StartupNotify=true
