[Desktop Entry]
Name=Zero-K
Comment=Zero-K
Exec=mono ##PROGRAMS_DIR##/zero-k/Zero-K.exe
Icon=##PROGRAMS_DIR##/zero-k/Zero-K.png
Terminal=false
Type=Application
Categories=Game;
