[user]
        name  = Fabian Meyer
        email = fabian@emutex.com
[core]
        autocrlf = input
	editor = vim
[color]
        ui = auto
[push]
        default = current
[alias]
        diffc    = diff --cached
[merge]
    tool = meld
